<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/css/app.css}" />

    <title>Gif Library | Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dolorem eius eligendi eum expedita harum inventore ipsa non reprehenderit similique, soluta temporibus vel veritatis? Culpa illum necessitatibus quasi quibusdam ut?</p>
    <img th:src="@{/gifs/dog-jump.gif}" alt="logo" />

</body>
</html>